@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --BGCOLOR: #475569;
  --LIGHT-COLOR: whitesmoke;
  --DARK-COLOR:#000;
  --FTCOLOR:#1E293B;
  /* FONT */
  --FF:"Nunito", sans-serif;
  --FS: 1.5rem;
  --FS-XL: 3rem;
  /* GENERAL */
  --PADDING: .5rem ;
  --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
  --BORDERS: 2px solid var(--DARK-COLOR);
}

/* || GENERAL STYLES */
body {
  font: var(--FS) var(--FF);
  min-height: 100vh;

  background-color: var(--BGCOLOR);
  background-image: radial-gradient(var(--LIGHT-COLOR), var(--BGCOLOR));
  display: flex;
  flex-direction: column;
}

header,
nav,
main,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header,
footer {
  position: sticky;
  background-color: var(--FTCOLOR);
  color: var(--LIGHT-COLOR);
}

header {
  top: 0;
}

nav {
  background-color: #fff;
  color: var(--DARK-COLOR);
  padding: var(--PADDING);
  border-bottom: var(--BORDERS);
  box-shadow: var(--SHADOWS);
}

main {
  flex-grow: 1;
}

footer {
  bottom: 0;
}